docs/workflow-stock-bajo.json
{
  "name": "Automatización Stock Bajo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-bajo",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "stock-bajo"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:3001/api/webhooks/crear-solicitud",
        "jsonParameters": false,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "{\"productoId\": \"{{$json.producto.id}}\", \"cantidad\": {{$json.sugerencia.cantidadSugerida}}, \"prioridad\": \"{{$json.sugerencia.prioridad}}\", \"observaciones\": \"Solicitud automatica RPA\"}"
      },
      "id": "http-request-node",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-20T11:15:00.000Z",
  "versionId": "1"
}
